{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

<div class="grid-row">

    

    <div class="column-two-thirds">

      <h2 class="heading-large">
        Service Finder
      </h2>

      <h3 class="heading-medium">
        Usage metrics
      </h3>

      <hr>

      <table>
        <tr>
          <td>
            <strong>Past 24 hours</strong><br>
            April 17 2018
          </td>

          <td>
            199 searches completed<br>
            &nbsp;
          </td>
        </tr>
 
        <tr>
          <td>
            <strong>Last 30 days</strong>
          </td>

          <td>
            &nbsp;
          </td>
        </tr>

        <tr>
          <td>
            April 16
          </td>

          <td>
            187 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 15
          </td>

          <td>
            136 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 14
          </td>

          <td>
            105 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 13
          </td>

          <td>
            107 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 12
          </td>

          <td>
            128 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 11
          </td>

          <td>
            137 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 10
          </td>

          <td>
            154 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 9
          </td>

          <td>
            104 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 8
          </td>

          <td>
            101 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 7
          </td>

          <td>
            98 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 6
          </td>

          <td>
            95 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 5
          </td>

          <td>
            99 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 4
          </td>

          <td>
            89 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 3
          </td>

          <td>
            88 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 2
          </td>

          <td>
            81 searches completed
          </td>
        </tr>

        <tr>
          <td>
            April 1
          </td>

          <td>
            72 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 31
          </td>

          <td>
            76 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 30
          </td>

          <td>
            68 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 29
          </td>

          <td>
            63 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 28
          </td>

          <td>
            66 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 27
          </td>

          <td>
            78 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 26
          </td>

          <td>
            58 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 25
          </td>

          <td>
            53 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 24
          </td>

          <td>
            55 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 23
          </td>

          <td>
            59 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 22
          </td>

          <td>
            47 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 21
          </td>

          <td>
            48 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 19
          </td>

          <td>
            36 searches completed
          </td>
        </tr>

        <tr>
          <td>
            March 18
          </td>

          <td>
            45 searches completed
          </td>
        </tr>

      </table>


      

      


    </div><!-- end column -->


	</div><!-- end a grid row -->


</form>
</main>






{% endblock %}


